version: "3.8"

services:
  backend:
    build: .
    container_name: lexis-backend
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: lexis-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: lexis_user
      POSTGRES_PASSWORD: lexis_pass
      POSTGRES_DB: lexis_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
