# ЯДРО ПРИЛОЖЕНИЯ
fastapi
uvicorn[standard]
sqlmodel
python-jose[cryptography]
passlib[bcrypt]
pydantic
pydantic-settings
python-multipart
alembic
email-validator
bcrypt
aiofiles
requests

# БАЗА ДАННЫХ
psycopg2-binary
sqlalchemy
opencv-python-headless
Pillow
numpy

# Математический анализ
sympy

# Celery для фоновых задач (если используете)
celery