# ЯДРО ПРИЛОЖЕНИЯ
fastapi
uvicorn[standard]
sqlmodel
python-jose[cryptography]
passlib[bcrypt]
pydantic
pydantic-settings
python-multipart
alembic
email-validator
bcrypt
aiofiles

# БАЗА ДАННЫХ
psycopg2-binary
sqlalchemy

# OCR и обработка изображений
paddlepaddle
paddleocr
opencv-python-headless
Pillow
numpy

# Математический анализ
sympy